---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Navbar />
  <h1>Hi! I'm Jacob</h1>
  <p>
    Hi i'm Jacob! I love photography, 3D printing, robotics, and aviation.
    Beyond my love for technology and design, I like to hide behind the lens of
    a camera, capturing frozen moments in the hopes of telling a story. Whether
    it's exploring the vibrant colors and patterns of nature and architecture or
    experimenting with different angles and lenses, photography gives me a way
    to see the world in new and interesting ways.
  </p>
</Layout>
