---
import { Image } from 'astro:assets';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';

import { contentfulClient } from '../lib/contentful';
import type { About } from '../lib/contentful';

let about;

try {
  const data = await contentfulClient.getEntries<About>({
    content_type: 'about',
  });
  const { aboutParagraph, image } = data.items[0].fields;
  about = {
    aboutParagraph,
    image: image.fields.file.url,
  };
} catch (error) {
  console.error(error);
}
---

<Layout>
  <Navbar />
  <div class="container">
    <div>
      <h1>Hi! I'm Jacob</h1>
      <p>
        {
          // Render the about paragraph
          about?.aboutParagraph
        }
      </p>
    </div>
    <Image
      class="blurry-load"
      alt=""
      width={1920}
      height={1080}
      aspect-ratio="16/9"
      loading="eager"
      data-large=`${about?.image}?fm=webp&w=1920&h=1080&q=65`
      src=`${about?.image}?fm=webp&w=1920&h=1080&q=5`
    />
  </div>

  <style>
    html {
      overflow: hidden;
    }
    .container {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      width: 100vw;
      height: 100vh;
      padding: 20px;
      margin-top: 5vw;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      z-index: 0;
    }
    @media screen and (max-width: 445px) {
      .container {
        flex-direction: column;
        margin-top: 10vw;
      }
      img {
        width: 100% !important;
        z-index: -1;
      }
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    img {
      width: 50%;
      height: auto;
      filter: grayscale(100);
      transition: filter 0.5s;
      transition-duration: 200ms;
    }
    img:hover {
      filter: grayscale(0);
      transition: filter 0.5s;
      transition-duration: 200ms;
    }
  </style>
</Layout>
