---
import { Image } from 'astro:assets';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';

import { contentfulClient } from '../lib/contentful';
import type { About } from '../lib/contentful';

let about;

try {
  const data = await contentfulClient.getEntries<About>({
    content_type: 'about',
  });
  const { aboutParagraph, image } = data.items[0].fields;
  about = {
    aboutParagraph,
    image: image.fields.file.url,
  };
} catch (error) {
  console.error(error);
}
---

<Layout>
  <Navbar />
  <div class="container">
    <div>
      <h1>Hi! I'm Jacob</h1>
      <p>
        {
          // Render the about paragraph
          about?.aboutParagraph
        }
      </p>
    </div>
  </div>
  <img
    class="blurry-load"
    alt=""
    aspect-ratio="16/9"
    loading="eager"
    data-large=`${about?.image}?fm=webp&w=1920&h=1080&q=65&fit=fill`
    src=`${about?.image}?fm=webp&w=1920&h=1080&q=5&fit=fill`
  />

  <style>
    html {
      overflow: hidden;
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    img {
      position: absolute;
      top: 45vh;
      right: 0;
      width: 50%;
      height: auto;
      filter: grayscale(100);
      transition: filter 0.5s;
      transition-duration: 200ms;
    }
    img:hover {
      filter: grayscale(0);
      transition: filter 0.5s;
      transition-duration: 200ms;
    }
  </style>
</Layout>
