---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

import { contentfulClient } from '../lib/contentful';
import type { About } from '../lib/contentful';

let about;

try {
  const data = await contentfulClient.getEntries<About>({
    content_type: 'about',
  });
  const { aboutParagraph, image } = data.items[0].fields;
  about = {
    aboutParagraph,
    image: image.fields.file.url,
  };
} catch (error) {
  console.error(error);
}
---

<Layout>
  <Navbar />
  <div class="about">
    <div>
      <h1>Hi! I'm <strong>Jacob</strong></h1>
      <p>
        {
          // Render the about paragraph
          about?.aboutParagraph
        }
      </p>
      <div class="icons">
        <a href="https://instagram.com/cameracob">
          <Icon name="mdi:instagram" />
        </a>
        <a href="https://github.com/Orbitally">
          <Icon name="mdi:github" />
        </a>
        <a href="https://linkedin.com/in/jacobkreindler">
          <Icon name="mdi:linkedin" />
        </a>
        <a href="mailto:hello@kreindler.ca">
          <Icon name="carbon:email" />
        </a>
      </div>
    </div>
    <Image
      alt=""
      width={1920}
      height={1080}
      aspect-ratio="16/9"
      loading="eager"
      src=`${about?.image}?fm=webp&w=1920&h=1080&q=65`
    />
  </div>
  <Footer />
  <style>
    .about {
      display: flex;
      position: relative;
      width: 100vw;
      margin-top: 1.5vw;
      margin-bottom: 30px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      z-index: 0;
    }
    .icons {
      text-align: center;
    }
    .icons a {
      text-decoration: none;
      color: black;
      text-decoration: none;
      margin: 5px;
    }
    [data-icon] {
      color: black;
      transition-duration: 200ms;
      font-size: 30px;
    }
    [data-icon]:hover {
      color: #5c7081;
      transition-duration: 200ms;
    }
    @media screen and (max-width: 754px) {
      .about {
        flex-direction: column;
      }
      img {
        width: 100% !important;
        z-index: -1;
      }
      h1 {
        text-align: center;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      p {
        text-align: center;
        margin-left: 10px !important;
        margin-right: 10px !important;
      }
    }
    img {
      width: 50%;
      height: auto;
      filter: grayscale(100);
      transition: filter 0.5s;
      transition-duration: 200ms;
    }
    img:hover {
      filter: grayscale(0);
      transition: filter 0.5s;
      transition-duration: 200ms;
    }
    h1 {
      padding: 20px;
      padding-bottom: 0;
      font-size: 45px;
      margin-left: 50px;
    }
    h1 strong {
      color: black;
      -webkit-text-fill-color: white;
      -webkit-text-stroke: 1px black;
    }
    p {
      padding: 20px;
      padding-top: 0;
      font-size: 20px;
      margin-left: 50px;
      margin-right: 50px;
    }
  </style>
</Layout>
