---
//@ts-nocheck

import Layout from '../layouts/Layout.astro';
import Grid from '../layouts/Grid.astro';
import Tile from '../components/Tile.astro';
import ProjectFrame from '../components/project/ProjectFrame.astro';
import Footer from '../components/Footer.astro';

import '../styles/animations.css';

import { contentfulClient } from '../lib/contentful';
import type { Project } from '../lib/contentful';

const entires = await contentfulClient.getEntries<Project>({
  content_type: 'project',
  order: '-fields.date',
});

const tiles = entires.items.map((item) => {
  const { title, subtitle, date, image, slug, columnNumber } = item.fields;
  return { title, subtitle, date, image, slug, columnNumber };
});
---

<Layout>
  <Grid>
    {
      // map all the tiles that are in column one to the Tile component
      tiles.map((tile) => (
        <Tile
          title={tile.title}
          date={tile.date}
          image={`${tile.image.fields.file.url}`}
          slug={tile.slug}
        />
      ))
    }
  </Grid>
  <center>
    <p>More albums coming soon 👀</p>
  </center>
</Layout>
<script src="../js/mobileHover.js"></script>
