---
import { Image } from 'astro:assets';
---

<div class="navbar">
  <div class="leftside">
    <Image src="/favicon.ico" alt="descriptive text" width="30" height="30" />
    <a href="/">Jacob Kreindler</a>
  </div>
  <div class="rightside">
    <a href="/projects">Projects</a>
    <a href="/about">About</a>
    <!-- <a href="/resume">Resume</a> -->
    <a href="mailto:hello@kreindler.ca">Contact</a>
  </div>
</div>

<style>
  @media screen and (max-width: 615px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .navbar .leftside {
      margin-left: 0px !important;
    }
    .navbar .rightside {
      margin-right: 0px !important;
    }
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
    font-size: 18px;
    line-height: normal;
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 0.5vh;
  }
  .navbar a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    transition-duration: 500ms;
  }
  .navbar a:hover {
    text-decoration: underline;
    transition-duration: 500ms;
  }
  .navbar img {
    filter: grayscale(100%);
  }
  .navbar img:hover {
    filter: grayscale(0%);
  }
  @media (hover: none) {
    .navbar img {
      filter: none !important;
    }
  }
  .navbar .leftside {
    float: left;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar .rightside {
    float: right;
    margin-right: 20px;
  }
</style>
