<div id="frame">
  <iframe id="projectFrame" name="the-frame" title="Project Frame"></iframe>
</div>

<style>
  #frame {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  iframe {
    position: absolute;
    width: 70%;
    height: 70%;
    position: fixed;
    margin: auto;
    z-index: 1000;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
</style>
