---
import { Image } from 'astro:assets';

const { title, date, image, slug } = Astro.props;
---

<a class="tile" href=`/projects/${slug}`>
  <div class="text">
    <p class="title">{title}</p>
    <p class="date">{date}</p>
  </div>
  <Image
    class="tile-image"
    src=`https:${image}?fm=webp&w=840&h=560&q=50`
    alt=""
    width="100"
    height="100"
  />
</a>

<style>
  .tile {
    display: block;
    width: 85%;
    height: 50vh;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    filter: grayscale(100%);
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .tile:hover {
    filter: none;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  p {
    color: white;
  }
  .text {
    position: absolute;
    z-index: 1;
    padding: 10px;
    bottom: 0;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
  .subtitle {
    font-size: 16px;
    margin: 0;
  }
  .date {
    font-size: 12px;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition-duration: 0.4s;
  }
  a:hover > img {
    transition-duration: 0.3s;
    scale: 105%;
  }
</style>
