<div class="grid">
  <slot />
</div>
<style>
  .grid {
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: auto;
    column-gap: 1.5vw;
    row-gap: 2vh;
    justify-content: center;
    align-items: center;
  }
</style>
