<div class="grid">
  <slot />
</div>
<style>
  .grid {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: auto;
    column-gap: 1.5vw;
    row-gap: 2vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  @media screen and (max-width: 1450px) {
    .grid {
      grid-template-columns: 30vw 30vw 30vw;
    }
  }
  @media screen and (max-width: 1024px) {
    html {
      overflow-y: scroll;
    }
    .grid {
      grid-template-columns: 45vw 45vw;
    }
  }
  @media screen and (max-width: 480px) {
    .grid {
      grid-template-columns: 90vw;
    }
  }
</style>
