---
import { ViewTransitions } from 'astro:transitions';

import '@fontsource/inter';
import '../styles/blurry-load.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jacob Kreindler's Portfolio" />
    <meta name="viewport" content="width=device-width" />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="Jacob Kreindler" />
    <meta property="og:description" content="Jacob Kreindler's portfolio" />
    <meta
      property="og:image"
      content="https://jacob.kreindler.ca/images/Moi.png"
    />
    <meta property="og:url" content="https://jacob.kreindler.ca/" />
    <meta property="og:site_name" content="Jacob Kreindler" />
    <meta property="og:type" content="website" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jacob Kreindler" />
    <meta name="twitter:description" content="Jacob Kreindler's portfolio" />
    <meta
      name="twitter:image"
      content="https://jacob.kreindler.ca/images/Moi.png"
    />

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://jacob.kreindler.ca/favicons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://jacob.kreindler.ca/favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://jacob.kreindler.ca/favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://jacob.kreindler.ca/favicons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="60x60"
      href="https://jacob.kreindler.ca/favicons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="https://jacob.kreindler.ca/favicons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="76x76"
      href="https://jacob.kreindler.ca/favicons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="https://jacob.kreindler.ca/favicons/apple-touch-icon-152x152.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://jacob.kreindler.ca/favicons/favicon-196x196.png"
      sizes="196x196"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://jacob.kreindler.ca/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://jacob.kreindler.ca/favicons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://jacob.kreindler.ca/favicons/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://jacob.kreindler.ca/favicons/favicon-128.png"
      sizes="128x128"
    />
    <meta name="application-name" content="Jacob Kreindler" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-TileImage"
      content="https://jacob.kreindler.ca/favicons/mstile-144x144.png"
    />
    <meta
      name="msapplication-square70x70logo"
      content="https://jacob.kreindler.ca/favicons/mstile-70x70.png"
    />
    <meta
      name="msapplication-square150x150logo"
      content="https://jacob.kreindler.ca/favicons/mstile-150x150.png"
    />
    <meta
      name="msapplication-wide310x150logo"
      content="https://jacob.kreindler.ca/favicons/mstile-310x150.png"
    />
    <meta
      name="msapplication-square310x310logo"
      content="https://jacob.kreindler.ca/favicons/favicons/mstile-310x310.png"
    />

    <link rel="stylesheet" href="https://unpkg.com/aos/dist/aos.css" />

    <title>Jacob Kreindler</title>

    <script>
      import { BlurryImageLoad } from '../js/blurry-load.js';
      const blurryImageLoad = new BlurryImageLoad();
      blurryImageLoad.load();
    </script>

    <ViewTransitions />
  </head>
  <body>
    <slot />
    <script is:inline src="https://unpkg.com/aos/dist/aos.js"></script>
    <script is:inline>
      AOS.init({
        duration: 400,
        delay: 50,
        once: true,
        offset: 50,
      });
    </script>
    <style is:global>
      html {
        font-family: 'Inter', sans-serif;
        overflow-x: hidden;
      }

      body {
        margin-top: 0;
        --sb-track-color: #ffffff;
        --sb-thumb-color: #5c7081;
        --sb-size: 10px;
      }

      body::-webkit-scrollbar {
        width: var(--sb-size);
      }

      body::-webkit-scrollbar-track {
        background: transparent;
      }

      body::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 5px;
      }

      @supports not selector(::-webkit-scrollbar) {
        body {
          scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }
      }
    </style>
  </body>
</html>
