---
import { ViewTransitions } from 'astro:transitions';

import '@fontsource/inter';
import '../styles/blurry-load.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jacob Kreindler's Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="stylesheet" href="https://unpkg.com/aos/dist/aos.css" />

    <title>Jacob Kreindler</title>

    <script>
      import { BlurryImageLoad } from '../js/blurry-load.js';
      const blurryImageLoad = new BlurryImageLoad();
      blurryImageLoad.load();
    </script>

    <ViewTransitions />
  </head>
  <body>
    <slot />
    <script is:inline src="https://unpkg.com/aos/dist/aos.js"></script>
    <script is:inline>
      AOS.init({
        duration: 400,
        delay: 50,
        once: true,
        offset: 50,
      });
    </script>
    <style is:global>
      html {
        font-family: 'Inter', sans-serif;
        overflow-x: hidden;
      }
      body {
        margin-top: 0;
      }
    </style>
  </body>
</html>
